---
import HomeLayout from "@layouts/HomeLayout.astro";
import BlogCard from "@components/BlogPostCard.astro"
---

<HomeLayout title="About Us · ntohq developers" contentType="website" description="" image="">
    <header>
        <h1 class="text-8xl text-center font-bold">ntohq developer blog</h1>
    </header>
    <main>
        <BlogCard></BlogCard>
    </main>
</HomeLayout>
