<div class="card w-96 bg-base-100 shadow-xl">
    <figure><img src="/image/blog/test-post.jpg" alt="Shoes" /></figure>
    <div class="card-body">
      <h2 class="card-title">
        The Game of Life in Javascript
      </h2>
      <p>Learn how to code the classic Game of Life in JavaScript. This simple but addictive game is a great way to learn about cellular automata and game programming.</p>
      <div class="badge badge-outline justify-start">Programming</div> 
      <div>
      <div class="card-actions justify-end">
        <a href="/blog/test-post" class="btn btn-primary">Read Now</a>
      </div>
    </div>
    </div>
  </div>