$palettes: (
    base: (
        500: #003300,
        400: #005500,
        300: #007B20
        200: #00A244,
        100: #33CA68
    ),
    primary: (
        500: #003300,
        400: #005500,
        300: #007B20
        200: #00A244,
        100: #33CA68
    )
)